node_modules/
.env
.env.*
.DS_Store
dist/
build/

# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# IDEs
.vscode/
.idea/
.vs/

# Archivos y carpetas ignoradas localmente
manual_pdf/
MANUAL_INSTALACION.md
README.md
